<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>52508493738-23uqdq6ahlfjnq0ejtcthtq5i2jkn97v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52508493738-23uqdq6ahlfjnq0ejtcthtq5i2jkn97v</string>
	<key>API_KEY</key>
	<string>AIzaSyDdTnpSeQLFiR1rXoE4K3OEgqDzG1sdT04</string>
	<key>GCM_SENDER_ID</key>
	<string>52508493738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nMfpereira.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-712af</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-712af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52508493738:ios:80b4fa386f5df531</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-712af.firebaseio.com</string>
</dict>
</plist>